<!DOCTYPE html>
<html lang="en" class="">
 <head> 
  <meta charset="utf-8" />
 <title>About | Link Neighbors</title>
  <meta name="description" content="" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="css/app.v2.css" type="text/css" />
  <link rel="stylesheet" href="css/font.css" type="text/css" cache="false" />
  <link rel="stylesheet" href="css/landing.css" type="text/css" cache="false" />
      <!--[if lt IE 9]> <script src="js/ie/html5shiv.js" cache="false"></script> <script src="js/ie/respond.min.js" cache="false"></script> <script src="js/ie/excanvas.js" cache="false"></script> <![endif]-->
  </head>
      <body> <!-- header --> 
      <header id="header" class="navbar navbar-fixed-top bg-white box-shadow b-b b-light" data-spy="affix" data-offset-top="1"> <div class="container"> 
      <div class="navbar-header"> 
      <a href="index" class="navbar-brand"><div style="float:left; margin-top:-1px;">
 <img src="images/logo.png" class="m-r-sm" >
 </div><span class="text-muted;" style="color:#29b133; font-size:24px">Link</span><span class="text-muted;" style="color:#339fd0;" >Neighbors</span></span></a>
      <button class="btn btn-link visible-xs" type="button" data-toggle="collapse" data-target=".navbar-collapse"> <i class="fa fa-bars"></i> </button> 
      </div>
       <div class="collapse navbar-collapse"> <ul class="nav navbar-nav navbar-right"><li> <a href="invitefriends">Invite Friends</a> </li><li> <a href="about">About</a> </li>
  <li> <a href="contact">Contact</a> </li>
  <li> <div class="m-t-sm"><a href="signin" class="btn btn-sm btn-success m-l" style=" background-color:#00a99d;"><strong>Sign in</strong></a></div> </li> </ul>
  </div>
   </div>
               </header> 
            <!-- / header -->
            <section id="content">
             <div class="bg-dark lt" style="background-color:#00a99d; height:80px;">
              <div class="container">
               <div class="m-b-lg m-t-lg" style="margin-top:-3px;">
                <h3 class="m-b-none" style="color:#FFF">About</h3>
                 <small class="text-muted"><span style="color: #F0F0F0">About Link Neighbors</span></small>
                  </div>
                   </div>
                    </div>
                     <div class="bg-white b-b b-light">
                      <div class="container"> <ul class="breadcrumb no-border bg-empty m-b-none m-l-n-sm"> <li><a href="index">Home</a></li>
                       <li class="active">About</li> </ul> </div> 
                       </div> 
                       
                       <div>
                        <div class="container m-t-xl">
                         <div class="row"> <div class="col-sm-7">
                         
                         <h2 class="font-thin m-b-lg"><span class="text-primary" style="color:#00a99d; font-weight:600">"Linkneighbors"</span> is a powerful communication tool to communicate with your neighbors without compromising your personal information.</h2>   <p class="h4 m-b-lg l-h-1x">We are trying to fill the communication gap between you and your neighbor so, that you build a better and safe neighborhood.</p>
                         <div class="row m-b-xl"> <div class="col-sm-6">
                         
                         <a class="pull-left thumb-sm"> <img src="images/avatar.jpg" class="img-rounded"> </a> <section class="comment-body m-b"> <header> <a href="#" style="margin-left:5px;"><strong>Venkat</strong></a>
                         
                         <div style="font-size:14px"><br>Profile of Venkat</div>
                         
                         </div>
                         
                         <div class="col-sm-6"> 
                         
                         <a class="pull-left thumb-sm"> <img src="images/avatar.jpg" class="img-rounded"> </a> <section class="comment-body m-b"> <header> <a href="#" style="margin-left:5px;"><strong>Ravi</strong></a>
                          <div style="font-size:14px"><br>Profile of Ravi</div>
                          </div>
                         </div>
                         
                         
                        
                        
                       
                         
                                   <p class="clearfix">&nbsp;</p>
                          </div> 
                               
                               
                             </div> </div> </div> 
                                        
                                        
                                       <div class="bg-white b-t b-light">
                                       
                                        <div class="container">
                                       
                                        <div class="row m-t-xl m-b-xl"> 
                                        
                                       
                                         <h2 class="font-thin m-b-lg"><span class="text-primary" style="color:#00a99d; font-weight:600">How people are you using Link Neighbors?</span> </h2>
                                         
                                         <article id="comment-id-2" class="comment-item"> <a class="pull-left thumb-sm"> <img src="images/avatar.jpg" class="img-rounded"> </a> <section class="comment-body m-b"> <header> <a href="#" style="margin-left:5px;"><strong>Ravi &amp; Venkat</strong></a> <label class="label bg-dark m-l-xs">Admin</label> <span class="text-muted text-xs block m-t-xs" > 26 minutes ago </span>

 </header>
 
  <blockquote class="m-t"> <p>When i come to my new neighborhood, i struggled to search for a good schooling for my kids.  I don't go by school ratings.  Then i found linkneighbors and contacted the bunch of good neighbors and got the information from them.  Now they are my friends.  Thanks to Linkneighbors team.</p> <small><cite title="Source Title"> Anvitha</cite></small> </blockquote> <div class="m-t-sm">Thanks for your comment.</div> </section> </article>                                          
                                         
                                       
                                         <h4 class="m-t-lg m-b"></h4> 

<form> 
<div class="form-group pull-in clearfix">  <div class="form-group"><textarea class="form-control" rows="5" placeholder="Type your comment"></textarea>

 

 </div> 

<div class="col-sm-6" style=" margin-left:-15px;"> <input type="text" class="form-control" placeholder="Name"> </div>

<div class="form-group"> <button type="submit" class="btn btn-success" style=" background-color:#00a99d;">Submit comment</button> </div> </form> </div>

                                         
                                        
                                          </div> 
                                          </div> 
                                          </div>
                                          
                                          
                                           <!-- footer --> 
                                      
                                      <footer id="footer">
               
                <div class="bg-primary text-center"><i class="fa fa-caret-down fa-4x text-primary m-b-n-lg block"></i> </div>
                  
                   <div class="bg-dark dker wrapper"> <div class="container text-center m-t-lg" style="margin-top:-15px;"> 
                   
                   <div class="row m-t-xl m-b-xl"> <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="300"> 
                  </div>
                    
                     <div class="col-sm-4" data-ride="animated" data-animation="fadeInUp" data-delay="600"> <i class="fa fa-envelope-o fa-3x icon-muted"></i> <h5 class="text-uc m-b m-t-lg">Mail Us</h5>
                     
                      <p class="text-sm"><a href="mailto:info@linkneighbors.com">info@linkneighbors.com</a></p>
                      
                       </div>
                       
                        <div class="col-sm-4" data-ride="animated" data-animation="fadeInRight" data-delay="900"> 
                        
                        </div> </div> <div class="m-t-xl m-b-xl">
                        
                         <p style="margin-top:-25px;"> <a href="#" class="btn btn-icon btn-rounded btn-facebook bg-empty m-sm">
                         <i class="fa fa-facebook"></i></a> 
                         <a href="#" class="btn btn-icon btn-rounded btn-twitter bg-empty m-sm">
                         <i class="fa fa-twitter"></i></a> <a href="#" class="btn btn-icon btn-rounded btn-gplus bg-empty m-sm"><i class="fa fa-google-plus"></i></a> </p>
                          <p style="margin-top:-15px;"> <a href="#content" data-jump="true" class="btn btn-icon btn-rounded btn-dark b-dark bg-empty m-sm text-muted"><i class="fa fa-angle-up"></i></a> </p>
                           </div> 
                           </div>
                            </div>
                             </footer> <!-- / footer -->
	<script src="js/app.v2.js"></script>
    <script src="js/appear/jquery.appear.js" cache="false"></script>
    <script src="js/scroll/smoothscroll.js" cache="false"></script> 
	<script src="js/landing.js" cache="false"></script>
      
      </body>
      </html>